* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

/* Elementos */

h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    padding: 20px;
    color: brown;
}
h2 {
    text-align: center;
    margin-bottom: 5px;
}
a {
    text-decoration: none;
    color: brown;
}
hr {
    margin: 1rem 0;
    border: 1px solid brown;
}

/* Classes */

.btn {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: burlywood;
    color: brown;
    box-shadow: #595959 2px 2px 2px;
    text-align: center;
    border: 2px solid black;
}
.btn:active {
    color: black;
    background-color: bisque;
}
.btn-md {
    width: 200px;
}

.icon-sm {
    width: 32px;
    height: 32px;
    transform: translate(-25%, 25%);
    -ms-transform: translate(-25%, 25%); /* IE 9 */
    -webkit-transform: translate(-25%, 25%); /* Chrome, Safari, Opera */
}
.txt-center {
    text-align: center;
}
/* Layout */

.main-container {
    position: relative;
    opacity: 0.8;
    background-color: white;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto auto;
}
.main-container > * {
    margin-top: 0.5rem;
}
.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 10px;
}
.menu-item {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    height: 160px;
}
.horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    .main-container {
        width: 540px;
        border: 1px solid black;
        border-radius: 20px;
    }
}

